---
---

//stylesheet for left_bar


$grey: #C0C0C0;
$greengrey: #2F4F4F;
$bluegrey: #778899;

/* Default social media links in author sidebar */
.contacts {
    padding-left: 10px;
    text-align: left;
    @media screen and (max-width: 720px) {
        width: 50%;
    }
}
.author-social {
  margin-top: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 140%;
  &:visited {
    color: black;
  }
  &:hover {
    color: $bluegrey
  }
  &:active {
    color: $bluegrey
  }
  .fa {
	margin-right: 2px;
  }
}


@media screen and (min-width: 720px) {
    .myself {
        width: 140px;
        display: block;
        float: right;
        margin: 10px;

        .portrait {
            float: right;
            width: 100%;
            height: auto;
            border-radius: 15px 40px;
        }
    }
}

@media screen and (max-width: 719px) {
    .myself {
        width: 100%;
        margin-left: 20px;
        margin-top: 20px;
        .portrait {
            width: 20%;
            float: left;

            height: auto;
            border-radius: 15px 40px;
        }
    }
}
