<!DOCTYPE html>
{% assign navi = site.data.navi %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/index_config.css">
</head>

<body>
<div class="container">
    <div class="left_bar">
        {% include left_bar.html protrait='../assets/img/myself.png' %}
    </div>
    <div class="right_content">
        <div class="nav_list">
            {% include header.html %}
        </div>
        <div class="post_list">
            {% for post in site.posts %}
                {% if page.catalog==null or post.categories contains page.catalog %}
                <div class="post_block">
                    <div class="post_title_block">
                        <a class="post_title" href={{ post.url }}> {{ post.title }}</a>
                        <p class="abstract">{{ post.content | strip_html | truncate: 160 }}</p>
                    </div>

                    <div class="post_small_metadata">
                    {{ post.date | date: "%Y-%m-%d %H:%M, %Z" }} 分类:
                    {% for nav in navi %}
                        {% if post.categories contains nav.categories %}
                        <a class="nav_title" href="{{ nav.url }}"> {{ nav.title }}  </a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</body>

</html>
